.container {
  margin-top: 30px;
}

.row {
  margin: 20px 0;
}

.nav{
  width: 100%;
}
ul{
  margin: 0;
  padding: 0;
}
.nav ul li{
  float: left;
  list-style: none;
}
.nav ul li a{
  margin: 0 15px;
  display: inline-block;
  font: 15px arial;
  line-height: 18px;
}